.DropDown {
	position: absolute;
	right: 50%;
	top: -10px;
	transform: translateY(-100%) translateX(50%);
	width: 120%;
	padding-bottom: 20px;
	box-sizing: border-box;

	.InnerContainer {
		&:hover {
			background: var(--white);
			cursor: default;
		}
		border-radius: 0px;
		border-bottom: 1px solid var(--border-grey);
	}
}
