.Background {
	height: 200px;
}

.Modal {
	padding: 10px 5px;
	max-height: 80%;
	overflow-x: auto;
	width: fit-content;
	min-width: min(600px, 60%);

	.Actions {
		padding: 20px 10px;
		display: flex;
		justify-content: space-between;

		.Description {
			display: flex;
			font-weight: bold;
			font-size: 24px;
			align-items: center;
			gap: 40px;
		}

		.Close {
			position: unset;
			left: unset;
			top: unset;
		}

		.Save {
			background-color: var(--black);
			color: var(--white);
			border-radius: 20px;
			padding: 10px 20px;
			font-weight: bold;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.Background {
	width: 100%;
	height: fit-content;
	position: relative;
	.SetBackground {
		width: 100%;
		height: 200px;
		position: relative;

		&::after {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			content: '';
		}
	}
	.LabelContainer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		z-index: 0;

		svg {
			padding: 10px;
			font-size: 24px;
			z-index: 1;
			transition: transform 0.2s;
			&:hover {
				cursor: pointer;
				transform: scale(1.5);
			}
		}

		background-color: var(--background-grey);
		background-repeat: no-repeat;
		background-position: center;
		object-fit: cover;
	}
}

.Content {
	position: relative;
	padding: 0px 10px;
	top: -40px;
}

.Avatar {
	position: relative;
	width: fit-content;
	margin-bottom: 20px;
	margin-right: 0px;

	.Preview {
		margin-right: 0px;
	}

	.SetAvatar {
		display: none;
	}
	.IconContainer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			transition: transform 0.2s;
			&:hover {
				transform: scale(1.5);
				cursor: pointer;
			}
		}
	}
}
