.Menu {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px;
}

.MenuIcon {
	position: relative;
	border-radius: 9999px;

	border: none;
	outline: none;
	padding: 10px;
	background: var(--white);
	svg, button {
		transition: 0.1 ease all;
	}
	&:hover {
		cursor: pointer;
		background: var(--focus-main-bg);
		svg,
		button {
			cursor: pointer;
			color: var(--focus-main);
		}
	}
	z-index: 2;
}

.Dropdown {
	position: absolute;
	display: none;
	top: 20px;
	right: 0px;
	padding: 10px;

	z-index: 3;
	border-radius: 9999px;
	background: var(--white);
	border: 1px solid var(--border-grey);
	list-style: none;
}

.Item {
	transition: 0.1 ease color;
	&:hover {
		cursor: pointer;
		color: var(--focus-main);
	}
}

.Open {
	display: block;
}
