body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-family: Poppins, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header.header {
	height: 10vh;
}

#root,
body,
html {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--main: #1d9bf0;
	--main-inactive: #8ecdf8;
	--main-fade: #1a8cd8;
	--main-hover: rgba(26, 140, 216, 0.1);
	--gray-fade: #e7e7e8;
	--grey: #999999;
	--border-grey: rgb(239, 243, 244);
	--white: white;
	--white-fade: rgb(225, 225, 225);
}
