body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-family: Manrope, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header.header {
	height: 10vh;
}

#root,
body,
html {
	width: 99vw;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--main: #1d9bf0;
	--main-hover: rgba(26, 140, 216, 0.1);
	--subtle: #536471;
	--secondary: rgb(83, 100, 113);
	--gray-fade: #e7e7e8;
	--grey: #999999;
	--border-grey: #eff3f4;
	--background-grey: #cfd9de;
	--white: white;
	--black: black;
	--white-fade: rgb(225, 225, 225);

	--focus-main: #1d9bf0;
	--focus-main-bg: #e1eef6;

	--focus-red: #f9318e;
	--focus-red-bg: #f7e0eb;

	--focus-green: #1cc18a;
	--focus-green-bg: #def1eb;
}
